body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.header {
    width: 100%;
    height: 150px;
    background-color: #178DAD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    font-family: Righteous;
}

.pages {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}

#logo {
    width: 90px;
    height: 100px;
    position: absolute;
    left: 80px;
    top: 25px;
}

#about {
    margin-right: 30px;
}

#work {
    margin-right: 30px;
}

#home {
    margin-right: 30px;
}

.achtergrond {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 579px;
    background-color: #DDD5CB;
}

.linkerzijde {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.rechterzijde {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profiel {
    width: 185px;
    height: 250px;
}

#kimi {
    font-family: Itim;
    font-size: 80px;
}

.learn {
    height: auto;
    width: 150px;
    font-size: 20px;
    font-family: Jua;
    background-color: #40556A;
    color: #DDD5CB;
    border-radius: 15px;
    border: none;
}

#learnbutton {
    color: #DDD5CB;
}

.aboutme{
    width: 100%;
    height: 150px;
    background-color: #DDD5CB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: Righteous;

}
.top-container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    top: 30px;
}
.work-container{
    width: 100%;
    height: 150px;
    background-color: #DDD5CB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: Righteous;

}
.beschrijvingcontainer {
    height: 300px;
    width: 60%;
    text-align: center;
}

#titelbeschrijving {
    font-family: Kalam;
}

#beschrijving {
    width: 80%;
}

.beschrijving-over-mij {
    display: flex;
    justify-content: center;
}

#button-work {
    background-color: #DDD5CB;
    border: none;
    color: #40556A;
    font-family: Jua;
    text-align: center;
    height: auto;
    width: 150px;
    font-size: 20px;
    position: relative;
    top: 30px;
    border-radius: 15px;
}

.buttoncontainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.hobbys {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.titel2 {
    height: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#hobby {
    font-family: Inria Sans;
    font-size: 40px;
}

.hobby-name {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Itim;
}

.fitness {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: auto;
    text-align: center;
    justify-content: center;

}

.eten {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: auto;
    text-align: center;
    justify-content: center;
}

.java {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: auto;
    text-align: center;
    justify-content: center;
}

#foto-fitness {
    width: 80%;
    height: 70%;
    position: relative;
    left: 50px;
}

#foto-eten {
    width: 80%;
    height: 70%;
    position: relative;
    left: 50px;
}

#foto-java {
    width: 80%;
    height: 70%;
}

h2 {
    font-family: Itim;
}

#text-fitness {
    width: 80%;
    position: relative;
    left: 50px;
}

#text-hotpot {
    width: 80%;
    position: relative;
    left: 50px;
}

#text-java {
    width: 80%;
    position: relative;
    left: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.mastermind {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
margin-bottom: 50px;
}

.foto-mastermind {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: auto;
}

.rechterzijde-1 {
    width: 50%;
    height: auto;
    text-align: center;
}

#mastermind-text {
    position: relative;
    width: 80%;
    top: 60px;
    left: 60px;
}

.pinkgoose {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 50px;

}

.foto-pinkgoose {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: auto;
}

#pinkgoose-text {
    position: relative;
    width: 80%;
    top: 200px;
    left: 60px;
}


.rechterzijde-2 {
    width: 50%;
    height: auto;
    text-align: center;
}

.project1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 50px;

}

.foto-project {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: auto;
}

#project-text {
    position: relative;
    width: 80%;
    top: 200px;
    left: 60px;
}


.rechterzijde-3 {
    width: 50%;
    height: auto;
    text-align: center;
}

p {
    font-family: Inria Sans;
    font-size: 30px;
}

#wat-leren {
    font-family: Itim;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #DDD5CB;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wwwkimi {
    font-family: Itim;
}

.contact-button{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

#button-contact {
    background-color: #DDD5CB;
    border: none;
    color: #40556A;
    font-family: Jua;
    text-align: center;
    height: auto;
    width: 150px;
    font-size: 20px;
    position: relative;
    top: 30px;
    border-radius: 15px;
}

.buttoncontainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    width: 100%;
    height: 150px;
    background-color: #DDD5CB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: Righteous;
    margin-bottom: 50px;
}
.contacten{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    margin-top: 53px;
}
.rij1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: auto;
}
.rij2{
    text-align: center;
    width: 100%;
}
#tel{
    font-family: Josefin Sans;
}
#schoolmail{
    font-family: Josefin Sans;
}
#email{
    font-family: Josefin Sans;
    position: relative;
    left: 30px;
}
#plaats{
    font-family: Josefin Sans;
}
#github{
width: 150px;
height: 150px;
}
#pinterest{
height: 125px;
width: 125px;
}